aaaa ICON "winairq.ico"

q_good ICON "icons/good.ico"
q_fair ICON "icons/fair.ico"
q_moderate ICON "icons/moderate.ico"
q_poor ICON "icons/poor.ico"
q_verypoor ICON "icons/verypoor.ico"
q_unknown ICON "icons/unknown.ico"

#include "wx/msw/wx.rc"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_CAN

VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      1,0,1,0
  PRODUCTVERSION   1,0,1,0
  FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        0x1L  // VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
  FILEFLAGS        0x0L  // final version
#endif
  FILEOS           VOS_NT_WINDOWS32
  FILETYPE         VFT_APP
  FILESUBTYPE      VFT2_UNKNOWN // not used
{
  BLOCK "StringFileInfo"
  {
    BLOCK "100904E4" // Lang=Canadian English, CharSet=Windows Multilingual
    {
      VALUE "Author",           "PeCeT_full\0"
      VALUE "Comments",         "A current air quality reading program for vintage computers connected to the Internet from the data retrieved from OpenWeatherMap's API.\0"
      VALUE "CompanyName",      "PeCeT_full\0"
      VALUE "FileDescription",  "WinAirq\0"
      VALUE "FileVersion",      "1.0.1\0"
      VALUE "LegalCopyright",   "Copyright (C) PeCeT_full 2022-2023\0"
      VALUE "LegalTrademarks",  "Some rights reserved\0"
      VALUE "OriginalFilename", "winairq.exe\0"
      VALUE "ProductName",      "WinAirq\0"
      VALUE "ProductVersion",   "1.0.1\0"
    } // BLOCK "100904E4"
  } // BLOCK "StringFileInfo"
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x1009, 1252 // 1252 = 0x04E4
  } // BLOCK "VarFileInfo"
}
